@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

$primary-fonts: 'Source Sans Pro', sans-serif;
$secondary-fonts: 'Oswald', sans-serif;

$white: #ffffff;
$black: #000000;
$granite-gray: #666666;
$dark-gray: #464547;
$blue: #55c2d8;
$whisper: #eeeeee;
$very-dark-grayish-violet: #464547;
$filter-bacground: #8c4f2a4d;
$neu-white: #ffffffb2;
$middle-gray: #ffffff66;

// Accessibility colors
$hsl-white: hsl(0, 0%, 100%);
$hsl-black: hsl(0, 0%, 0%);
$hsl-granite-gray: hsl(0, 0%, 40%);
$hsl-dark-gray: hsl(270, 1%, 27%);
$hsl-blue: hsl(190, 63%, 59%);
$hsl-whisper: hsl(0, 0%, 93%);
$hsl-very-dark-grayish-violet: hsl(270, 1%, 27%);
$hsl-middle-gray: hsla(0, 0%, 100%, .6);

$margin-center: 0 auto;